---
// @ts-ignore
import { getCollection, CollectionEntry } from "astro:content";
import Articles from "../../components/blog/Articles.astro";
import Fuse from "fuse.js";
import { dateFormat } from "../../lib/formats";
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/blog/NavBar.astro";
import Footer from "@components/blog/Footer.astro";


const posts = await getCollection("posts");
const convertPosts = posts.map((post)=>(post.data))

const options = {
    keys: ['title'],
    includeMatches: true,
    minMatchCharLength: 2,
    threshold: 0.5,
  };
  

  let fuse = new Fuse(convertPosts, options);

type Props = {
  post: CollectionEntry<"posts">
}

export async function getStaticPaths() {
  
  const posts = await getCollection("posts");

  return posts.map((post) => {
    return {
      params: {
        topic: post.data.topic,
      },
      props: {
        post,
      },
    };
  });
}

const {post} = Astro.props;
const {Content} = await post.render();
let postFilter = fuse.search(post.data.title).map((post)=>post.item);

---

<Layout title={post.data.title} description={post.data.description}>
  <NavBar />
  <div class="px-10 md:px-20 flex flex-col gap-y-10 mt-24">
    <section  class="content_md border-b pb-8">
      <div class="flex justify-between">
        <p class="text-sm text-gray-500">{dateFormat(post.data.date) }</p>
        <a href="/blog" class="flex text-xl items-center">
          🥱
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg>
        </a>
      </div>
      <Content />
    </section>
  
    
    <div class=" mb-10">
      <p class="text-gray-400 font-bold text-3xl mb-3">Te puede interesar 😉</p>
      <Articles posts={postFilter}/>
    </div>
  </div>
  <Footer />
</Layout>


<style is:inline>
  .content_md {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .content_md > h1 {
    font-size: 2.1rem;
    letter-spacing: -0.3px;
    background: black;
    color: white;
    font-weight: bold;
    padding: 1rem;
  }

  .content_md > h2 {
    font-size: 1.5rem;
    letter-spacing: -0.6px;
    font-weight: bold;
  }

  .content_md > h3 {
    font-size: 1.2rem;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: rgb(120, 120, 120);
  }

  .content_md > ul,
  ol {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    color: rgb(88, 88, 88);
  }

  .content_md p {
    font-size: 1.2rem;
  }

  .content_md  strong {
    background-color: #ffeafd;
    color: #e639b8;
    font-weight: unset;
  }


  .content_md ul {
    list-style: disc;
    padding-left: 2rem;
    font-size: 1.2rem;

  }
  .content_md ol {
    list-style: decimal;
    padding-left: 2rem;
    font-size: 1.2rem;
  }
  .content_md ul, li {
    margin-bottom: 0.5em;
  }

</style>
